[submodule "newbie/results-summary-component"]
	path = newbie/results-summary-component
	url = https://github.com/hatealgebra/results-summary-component-FEM.git
[submodule "newbie/workit-landing-page"]
	path = newbie/workit-landing-page
	url = https://github.com/hatealgebra/workit-landing-page-FEM.git
[submodule "newbie/meet-landig-page"]
	path = newbie/meet-landig-page
	url = https://github.com/hatealgebra/meet-landing-page-FEM.git
[submodule "space-tourism-website"]
	path = space-tourism-website
	url = https://github.com/hatealgebra/space-tourism-website-FEM.git
[submodule "intermediate/calculator-app"]
	path = intermediate/calculator-app
	url = https://github.com/hatealgebra/calculator-app-FEM.git
